$white: #ffffff;
$black: #000000;

$body-color: #f6f7fb;
$lighter-white: #f5f5f5;
$dark-color: #40434e;
$blue-color: #23c9ff;
$red-color: #d33f49;
$orange-color: #ffa400;
$gold-color: #deb841;
$cp-icon-color: #c39b77;

//Shades
$blue-shade: #d0eeff;
$orange-shade: #fdf1d3;
$red-shade: #f8e0db;

$header-gray: #fcf9f9;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

//Font
$font-color-dark: $dark-color;
$font-color-light: $lighter-white;

//Box Shadows
$box-shadow-sm: 0 0.125rem 0.25rem rgba($black, 0.075);
$box-shadow: 0 0.5rem 1rem rgba($black, 0.15);
$box-shadow-lg: 0 1rem 3rem rgba($black, 0.175);
