//Spacing
$spacer: 1rem;
$spacer-1: ($spacer * 0.25);
$spacer-2: ($spacer * 0.5);
$spacer-3: $spacer;
$spacer-4: ($spacer * 1.5);
$spacer-5: ($spacer * 3);
$spacer-6: ($spacer * 4.8);
// Width-Sizing
$width-spacing--100p: 100%;
$width-spacing--75p: 75%;
$width-spacing--50p: 50%;
$width-spacing--25p: 25%;
$width-spacing--20p: 20%;
$width-spacing--15p: 15%;
$width-spacing--10p: 10%;

// Height-sizing
$height-sizing-15p: 5%;

//sizing
$sizing: 1px;

//H
